<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Comunicación con los receptores -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Estado de la red -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Estado del Wi-Fi -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Permite recibir tráfico multicast utilizado por mDNS / NSD -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <application
        android:allowBackup="true"
        android:label="YG Sync"
        android:supportsRtl="true"
        android:theme="@style/Theme.YGSync">

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>
